@model BusManagement.Models.Roadroute

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>Roadroute</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FromLocation" class="control-label"></label>
                <input asp-for="FromLocation" class="form-control" />
                <span asp-validation-for="FromLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToLocation" class="control-label"></label>
                <input asp-for="ToLocation" class="form-control" />
                <span asp-validation-for="ToLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FairPrice" class="control-label"></label>
                <input asp-for="FairPrice" class="form-control" />
                <span asp-validation-for="FairPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
