@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bus Management System</h1>
    <p>We manage city bus transits. Click <a href="/Bus">here</a> to open Bus Management Page</p>
    <p>There you can add or update buses and view assigned driver id.</p>
</div>
